.upload-data {
    width: 99%;
    height: 60px;
    line-height: 60px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    margin: 0px
}

.graph-data {
    width: 99%;
    height: auto;
    line-height: 60px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    margin: 0px
}

.input-text {
    width: 99%;
    height: 60px;
    line-height: 60px;
    border-width: 1px;
    border-style: dashed;
    border-color: black;
    border-radius: 5px;
    text-align: center;
    margin: 0px
}


.success-message {
    color: red
}
